configurations/i07-config/xml/temp/BL07I-gda-testschema.xsd

<?xml version="1.0" ?>
<!-- Generic Schema for checking all beamline gda interface files -->
<!-- In this context, a deviceType represents an EPICS template -->
<!-- and a device represents an instantiation of a template -->
<!-- To add a new deviceType, follow the instructions in comments -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- This is the group of attributes common to all devices -->
	<xs:attributeGroup name="deviceAttributes">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="desc" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<!-- This is the group of attributes common to all records -->
	<xs:attributeGroup name="recordAttributes">
		<!-- attribute type must be defined in deviceType -->
		<!-- type value must be one of: "motor","scaler","mbbinary","binary","pv","mca","array" -->
		<xs:attribute name="desc" type="xs:string" use="required"/>
		<xs:attribute name="pv" type="xs:string" use="required"/>
		<xs:attribute name="ro" type="xs:boolean" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="bimorphpsuType">
		<xs:all>
			<xs:element minOccurs="0" name="VOUT">
				<xs:complexType>
					<xs:attribute fixed="array" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="POWERON">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="STATUS">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ELECTRODES">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="TARGETRBV">
				<xs:complexType>
					<xs:attribute fixed="array" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="TARGET">
				<xs:complexType>
					<xs:attribute fixed="array" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="APPLYTARGET">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="POWERONSET">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="bpmType">
		<xs:all>
			<xs:element minOccurs="0" name="XPOS">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="YPOS">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="INTENSITY">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="currAmpQuadType">
		<xs:all>
			<xs:element minOccurs="0" name="RANGE">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="VENDOR">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="MODEL">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="I1">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="I2">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="I3">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="I4">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="currAmpSingleType">
		<xs:all>
			<xs:element minOccurs="0" name="OVERLOAD">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SETGAIN">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SETACDC">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="VENDOR">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="MODEL">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="pneumaticCallbackType">
		<xs:all>
			<xs:element minOccurs="0" name="CONTROL">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="STA">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="positionerType">
		<xs:all>
			<xs:element minOccurs="0" name="SELECT">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="DMOV">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ERROR">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="INPOS">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="STOP">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simpleMotorType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD">
				<xs:complexType>
					<xs:attribute fixed="motor" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simplePvType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simpleScalerType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD">
				<xs:complexType>
					<xs:attribute fixed="scaler" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<!-- This is the root element of the schema, if you add a new deviceType, -->
	<!-- be sure to add a device of type deviceType to the sequence -->
	<xs:element name="devices">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:choice maxOccurs="unbounded" minOccurs="0">
					<xs:element name="bimorphpsu" type="bimorphpsuType"/>
					<xs:element name="bpm" type="bpmType"/>
					<xs:element name="currAmpQuad" type="currAmpQuadType"/>
					<xs:element name="currAmpSingle" type="currAmpSingleType"/>
					<xs:element name="pneumaticCallback" type="pneumaticCallbackType"/>
					<xs:element name="positioner" type="positionerType"/>
					<xs:element name="simpleMotor" type="simpleMotorType"/>
					<xs:element name="simplePv" type="simplePvType"/>
					<xs:element name="simpleScaler" type="simpleScalerType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
