configurations/i20-1-config/xsd/genericBeamlineSchema.xsd

<?xml version="1.0" ?>
<!-- Generic Schema for checking all beamline gda interface files -->
<!-- In this context, a deviceType represents an EPICS template -->
<!-- and a device represents an instantiation of a template -->
<!-- To add a new deviceType, follow the instructions in comments -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- This is the group of attributes common to all devices -->
	<xs:attributeGroup name="deviceAttributes">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="desc" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<!-- This is the group of attributes common to all records -->
	<xs:attributeGroup name="recordAttributes">
		<xs:attribute name="desc" type="xs:string" use="required"/>
		<xs:attribute name="pv" type="xs:string" use="required"/>
		<xs:attribute name="ro" type="xs:boolean" use="required"/>
		<!-- type value must be one of: "motor","scaler","mbbinary","binary","pv","mca","array" -->
		<xs:attribute name="type" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<!-- All elements defined in template types below should have this type -->
	<xs:complexType name="elementType">
		<xs:attributeGroup ref="recordAttributes"/>
	</xs:complexType>
	<!-- These are template types -->
	<xs:complexType name="ADBaseType">
		<xs:all>
			<xs:element minOccurs="0" name="PortName_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Manufacturer_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Model_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MaxSizeX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MaxSizeY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DataType" type="elementType"/>
			<xs:element minOccurs="0" name="DataType_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ColorMode" type="elementType"/>
			<xs:element minOccurs="0" name="ColorMode_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BinX" type="elementType"/>
			<xs:element minOccurs="0" name="BinX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BinY" type="elementType"/>
			<xs:element minOccurs="0" name="BinY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MinX" type="elementType"/>
			<xs:element minOccurs="0" name="MinX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MinY" type="elementType"/>
			<xs:element minOccurs="0" name="MinY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseX" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseY" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySizeX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySizeY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySizeZ_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySize_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="AcquireTime" type="elementType"/>
			<xs:element minOccurs="0" name="AcquireTime_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="AcquirePeriod" type="elementType"/>
			<xs:element minOccurs="0" name="AcquirePeriod_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TimeRemaining_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Gain" type="elementType"/>
			<xs:element minOccurs="0" name="Gain_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FrameType" type="elementType"/>
			<xs:element minOccurs="0" name="FrameType_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ImageMode" type="elementType"/>
			<xs:element minOccurs="0" name="ImageMode_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TriggerMode" type="elementType"/>
			<xs:element minOccurs="0" name="TriggerMode_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NumExposures" type="elementType"/>
			<xs:element minOccurs="0" name="NumExposures_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NumExposuresCounter_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NumImages" type="elementType"/>
			<xs:element minOccurs="0" name="NumImages_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NumImagesCounter_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Acquire" type="elementType"/>
			<xs:element minOccurs="0" name="Acquire_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArrayCounter" type="elementType"/>
			<xs:element minOccurs="0" name="ArrayCounter_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArrayRate_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DetectorState_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArrayCallbacks" type="elementType"/>
			<xs:element minOccurs="0" name="ArrayCallbacks_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NDAttributesFile" type="elementType"/>
			<xs:element minOccurs="0" name="StatusMessage_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="StringToServer_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="StringFromServer_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ReadStatus" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterMode" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterMode_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterControl" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterControl_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterStatus_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterOpenDelay" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterOpenDelay_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterCloseDelay" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterCloseDelay_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterOpenEPICSPV" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterOpenEPICSCmd" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterCloseEPICSPV" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterCloseEPICSCmd" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterStatusEPICS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterStatusEPICSPV" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterStatusEPICSCloseVal" type="elementType"/>
			<xs:element minOccurs="0" name="ShutterStatusEPICSOpenVal" type="elementType"/>
			<xs:element minOccurs="0" name="Temperature" type="elementType"/>
			<xs:element minOccurs="0" name="Temperature_RBV" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="bpmType">
		<xs:all>
			<xs:element minOccurs="0" name="XPOS" type="elementType"/>
			<xs:element minOccurs="0" name="YPOS" type="elementType"/>
			<xs:element minOccurs="0" name="INTENSITY" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="currAmpSingleType">
		<xs:all>
			<xs:element minOccurs="0" name="OVERLOAD" type="elementType"/>
			<xs:element minOccurs="0" name="SETGAIN" type="elementType"/>
			<xs:element minOccurs="0" name="SETACDC" type="elementType"/>
			<xs:element minOccurs="0" name="VENDOR" type="elementType"/>
			<xs:element minOccurs="0" name="MODEL" type="elementType"/>
			<xs:element minOccurs="0" name="I" type="elementType"/>
			<xs:element minOccurs="0" name="SETGAINUNIT" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="ffmpegStreamType">
		<xs:all>
			<xs:element minOccurs="0" name="QUALITY" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FALSE_COL" type="elementType"/>
			<xs:element minOccurs="0" name="FALSE_COL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ALWAYS_ON" type="elementType"/>
			<xs:element minOccurs="0" name="ALWAYS_ON_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HTTP_PORT_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HOST_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CLIENTS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="JPG_URL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MJPG_URL_RBV" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="firewireDCAMType">
		<xs:all>
			<xs:element minOccurs="0" name="FR" type="elementType"/>
			<xs:element minOccurs="0" name="FR_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="VIDEOMODE" type="elementType"/>
			<xs:element minOccurs="0" name="BANDWIDTH" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="BRIGHTNESS_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="EXPOSURE_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="SHARPNESS_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="WHITEB_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="HUE" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="HUE_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="SATURATION_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="GAMMA_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="SHUTTER_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="GAIN_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="IRIS_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="FOCUS_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="TEMP_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGGER_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="TRIGDLY_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="WHITES_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="FRAMERATE_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="ZOOM_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="PAN" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="PAN_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="TILT" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="TILT_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="FILTER_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="CAPTSIZE_ABS_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_CTRL" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_CTRL_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_MIN" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_ABS_AVL" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_ABS" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_ABS_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_ABS_MAX" type="elementType"/>
			<xs:element minOccurs="0" name="QUALITY_ABS_MIN" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="isegHVPSUType">
		<xs:all>
			<xs:element minOccurs="0" name="DISABLE" type="elementType"/>
			<xs:element minOccurs="0" name="V1_ACTUAL" type="elementType"/>
			<xs:element minOccurs="0" name="V2_ACTUAL" type="elementType"/>
			<xs:element minOccurs="0" name="I1_ACTUAL" type="elementType"/>
			<xs:element minOccurs="0" name="I2_ACTUAL" type="elementType"/>
			<xs:element minOccurs="0" name="RESPONSE" type="elementType"/>
			<xs:element minOccurs="0" name="COMMAND" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="NDFileType">
		<xs:all>
			<xs:element minOccurs="0" name="FilePath" type="elementType"/>
			<xs:element minOccurs="0" name="FilePath_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FileName" type="elementType"/>
			<xs:element minOccurs="0" name="FileName_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FileNumber" type="elementType"/>
			<xs:element minOccurs="0" name="FileNumber_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="AutoIncrement" type="elementType"/>
			<xs:element minOccurs="0" name="AutoIncrement_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FileTemplate" type="elementType"/>
			<xs:element minOccurs="0" name="FileTemplate_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FullFileName_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="AutoSave" type="elementType"/>
			<xs:element minOccurs="0" name="AutoSave_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="WriteFile" type="elementType"/>
			<xs:element minOccurs="0" name="WriteFile_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ReadFile" type="elementType"/>
			<xs:element minOccurs="0" name="ReadFile_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FileFormat" type="elementType"/>
			<xs:element minOccurs="0" name="FileFormat_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FileWriteMode" type="elementType"/>
			<xs:element minOccurs="0" name="FileWriteMode_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Capture" type="elementType"/>
			<xs:element minOccurs="0" name="Capture_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NumCapture" type="elementType"/>
			<xs:element minOccurs="0" name="NumCapture_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NumCaptured_RBV" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="NDFileMagickType">
		<xs:all>
			<xs:element minOccurs="0" name="Quality" type="elementType"/>
			<xs:element minOccurs="0" name="Quality_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BitDepth" type="elementType"/>
			<xs:element minOccurs="0" name="BitDepth_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CompressType" type="elementType"/>
			<xs:element minOccurs="0" name="CompressType_RBV" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="NDOverlayType">
		<xs:all>
			<xs:element minOccurs="0" name="Name0" type="elementType"/>
			<xs:element minOccurs="0" name="Name_RBV0" type="elementType"/>
			<xs:element minOccurs="0" name="Use0" type="elementType"/>
			<xs:element minOccurs="0" name="Use0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionXLink0" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX0" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionYLink0" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY0" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeXLink0" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX0" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeYLink0" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY0" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Shape0" type="elementType"/>
			<xs:element minOccurs="0" name="Shape0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode0" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Red0" type="elementType"/>
			<xs:element minOccurs="0" name="Red0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Green0" type="elementType"/>
			<xs:element minOccurs="0" name="Green0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Blue0" type="elementType"/>
			<xs:element minOccurs="0" name="Blue0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Name1" type="elementType"/>
			<xs:element minOccurs="0" name="Name_RBV1" type="elementType"/>
			<xs:element minOccurs="0" name="Use1" type="elementType"/>
			<xs:element minOccurs="0" name="Use1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionXLink1" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX1" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionYLink1" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY1" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeXLink1" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX1" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeYLink1" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY1" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Shape1" type="elementType"/>
			<xs:element minOccurs="0" name="Shape1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode1" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Red1" type="elementType"/>
			<xs:element minOccurs="0" name="Red1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Green1" type="elementType"/>
			<xs:element minOccurs="0" name="Green1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Blue1" type="elementType"/>
			<xs:element minOccurs="0" name="Blue1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Name2" type="elementType"/>
			<xs:element minOccurs="0" name="Name_RBV2" type="elementType"/>
			<xs:element minOccurs="0" name="Use2" type="elementType"/>
			<xs:element minOccurs="0" name="Use2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionXLink2" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX2" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionYLink2" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY2" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeXLink2" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX2" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeYLink2" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY2" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Shape2" type="elementType"/>
			<xs:element minOccurs="0" name="Shape2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode2" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Red2" type="elementType"/>
			<xs:element minOccurs="0" name="Red2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Green2" type="elementType"/>
			<xs:element minOccurs="0" name="Green2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Blue2" type="elementType"/>
			<xs:element minOccurs="0" name="Blue2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Name3" type="elementType"/>
			<xs:element minOccurs="0" name="Name_RBV3" type="elementType"/>
			<xs:element minOccurs="0" name="Use3" type="elementType"/>
			<xs:element minOccurs="0" name="Use3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionXLink3" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX3" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionYLink3" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY3" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeXLink3" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX3" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeYLink3" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY3" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Shape3" type="elementType"/>
			<xs:element minOccurs="0" name="Shape3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode3" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Red3" type="elementType"/>
			<xs:element minOccurs="0" name="Red3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Green3" type="elementType"/>
			<xs:element minOccurs="0" name="Green3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Blue3" type="elementType"/>
			<xs:element minOccurs="0" name="Blue3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Name4" type="elementType"/>
			<xs:element minOccurs="0" name="Name_RBV4" type="elementType"/>
			<xs:element minOccurs="0" name="Use4" type="elementType"/>
			<xs:element minOccurs="0" name="Use4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionXLink4" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX4" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionYLink4" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY4" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeXLink4" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX4" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeYLink4" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY4" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Shape4" type="elementType"/>
			<xs:element minOccurs="0" name="Shape4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode4" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Red4" type="elementType"/>
			<xs:element minOccurs="0" name="Red4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Green4" type="elementType"/>
			<xs:element minOccurs="0" name="Green4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Blue4" type="elementType"/>
			<xs:element minOccurs="0" name="Blue4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Name5" type="elementType"/>
			<xs:element minOccurs="0" name="Name_RBV5" type="elementType"/>
			<xs:element minOccurs="0" name="Use5" type="elementType"/>
			<xs:element minOccurs="0" name="Use5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionXLink5" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX5" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionYLink5" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY5" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeXLink5" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX5" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeYLink5" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY5" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Shape5" type="elementType"/>
			<xs:element minOccurs="0" name="Shape5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode5" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Red5" type="elementType"/>
			<xs:element minOccurs="0" name="Red5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Green5" type="elementType"/>
			<xs:element minOccurs="0" name="Green5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Blue5" type="elementType"/>
			<xs:element minOccurs="0" name="Blue5_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Name6" type="elementType"/>
			<xs:element minOccurs="0" name="Name_RBV6" type="elementType"/>
			<xs:element minOccurs="0" name="Use6" type="elementType"/>
			<xs:element minOccurs="0" name="Use6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionXLink6" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX6" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionYLink6" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY6" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeXLink6" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX6" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeYLink6" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY6" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Shape6" type="elementType"/>
			<xs:element minOccurs="0" name="Shape6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode6" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Red6" type="elementType"/>
			<xs:element minOccurs="0" name="Red6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Green6" type="elementType"/>
			<xs:element minOccurs="0" name="Green6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Blue6" type="elementType"/>
			<xs:element minOccurs="0" name="Blue6_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Name7" type="elementType"/>
			<xs:element minOccurs="0" name="Name_RBV7" type="elementType"/>
			<xs:element minOccurs="0" name="Use7" type="elementType"/>
			<xs:element minOccurs="0" name="Use7_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionXLink7" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX7" type="elementType"/>
			<xs:element minOccurs="0" name="PositionX7_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PositionYLink7" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY7" type="elementType"/>
			<xs:element minOccurs="0" name="PositionY7_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeXLink7" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX7" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX7_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeYLink7" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY7" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY7_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Shape7" type="elementType"/>
			<xs:element minOccurs="0" name="Shape7_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode7" type="elementType"/>
			<xs:element minOccurs="0" name="DrawMode7_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Red7" type="elementType"/>
			<xs:element minOccurs="0" name="Red7_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Green7" type="elementType"/>
			<xs:element minOccurs="0" name="Green7_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Blue7" type="elementType"/>
			<xs:element minOccurs="0" name="Blue7_RBV" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="NDPluginBaseType">
		<xs:all>
			<xs:element minOccurs="0" name="PortName_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="PluginType_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NDArrayPort" type="elementType"/>
			<xs:element minOccurs="0" name="NDArrayPort_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NDArrayAddress" type="elementType"/>
			<xs:element minOccurs="0" name="NDArrayAddress_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EnableCallbacks" type="elementType"/>
			<xs:element minOccurs="0" name="EnableCallbacks_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MinCallbackTime" type="elementType"/>
			<xs:element minOccurs="0" name="MinCallbackTime_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BlockingCallbacks" type="elementType"/>
			<xs:element minOccurs="0" name="BlockingCallbacks_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArrayCounter" type="elementType"/>
			<xs:element minOccurs="0" name="ArrayCounter_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArrayRate_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DroppedArrays" type="elementType"/>
			<xs:element minOccurs="0" name="DroppedArrays_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NDimensions_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySize0_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySize1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySize2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DataType_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ColorMode_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BayerPattern_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="UniqueId_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="TimeStamp_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NDAttributesFile" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="NDProcessType">
		<xs:all>
			<xs:element minOccurs="0" name="DataTypeOut" type="elementType"/>
			<xs:element minOccurs="0" name="DataTypeOut_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SaveBackground" type="elementType"/>
			<xs:element minOccurs="0" name="SaveBackground_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EnableBackground" type="elementType"/>
			<xs:element minOccurs="0" name="EnableBackground_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ValidBackground_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SaveFlatField" type="elementType"/>
			<xs:element minOccurs="0" name="SaveFlatField_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EnableFlatField" type="elementType"/>
			<xs:element minOccurs="0" name="EnableFlatField_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ValidFlatField_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ScaleFlatField" type="elementType"/>
			<xs:element minOccurs="0" name="ScaleFlatField_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EnableOffsetScale" type="elementType"/>
			<xs:element minOccurs="0" name="EnableOffsetScale_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Offset" type="elementType"/>
			<xs:element minOccurs="0" name="Offset_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Scale" type="elementType"/>
			<xs:element minOccurs="0" name="Scale_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EnableLowClip" type="elementType"/>
			<xs:element minOccurs="0" name="EnableLowClip_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="LowClip" type="elementType"/>
			<xs:element minOccurs="0" name="LowClip_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EnableHighClip" type="elementType"/>
			<xs:element minOccurs="0" name="EnableHighClip_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HighClip" type="elementType"/>
			<xs:element minOccurs="0" name="HighClip_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EnableFilter" type="elementType"/>
			<xs:element minOccurs="0" name="EnableFilter_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ResetFilter" type="elementType"/>
			<xs:element minOccurs="0" name="ResetFilter_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NumFilter" type="elementType"/>
			<xs:element minOccurs="0" name="NumFilter_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="NumFilterRecip" type="elementType"/>
			<xs:element minOccurs="0" name="NumFiltered_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="OOffset" type="elementType"/>
			<xs:element minOccurs="0" name="OOffset_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="OScale" type="elementType"/>
			<xs:element minOccurs="0" name="OScale_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="OC1" type="elementType"/>
			<xs:element minOccurs="0" name="OC1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="OC2" type="elementType"/>
			<xs:element minOccurs="0" name="OC2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="OC3" type="elementType"/>
			<xs:element minOccurs="0" name="OC3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="OC4" type="elementType"/>
			<xs:element minOccurs="0" name="OC4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FOffset" type="elementType"/>
			<xs:element minOccurs="0" name="FOffset_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FScale" type="elementType"/>
			<xs:element minOccurs="0" name="FScale_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FC1" type="elementType"/>
			<xs:element minOccurs="0" name="FC1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FC2" type="elementType"/>
			<xs:element minOccurs="0" name="FC2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FC3" type="elementType"/>
			<xs:element minOccurs="0" name="FC3_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FC4" type="elementType"/>
			<xs:element minOccurs="0" name="FC4_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ROffset" type="elementType"/>
			<xs:element minOccurs="0" name="ROffset_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="RC1" type="elementType"/>
			<xs:element minOccurs="0" name="RC1_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="RC2" type="elementType"/>
			<xs:element minOccurs="0" name="RC2_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="FilterType" type="elementType"/>
			<xs:element minOccurs="0" name="FilterTypeSeq" type="elementType"/>
			<xs:element minOccurs="0" name="RecursiveAveSeq" type="elementType"/>
			<xs:element minOccurs="0" name="RecursiveSumSeq" type="elementType"/>
			<xs:element minOccurs="0" name="DifferenceSeq" type="elementType"/>
			<xs:element minOccurs="0" name="RecursiveAveDiffSeq" type="elementType"/>
			<xs:element minOccurs="0" name="CopyToFilterSeq" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="NDROIType">
		<xs:all>
			<xs:element minOccurs="0" name="Label" type="elementType"/>
			<xs:element minOccurs="0" name="Label_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BinX" type="elementType"/>
			<xs:element minOccurs="0" name="BinX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BinY" type="elementType"/>
			<xs:element minOccurs="0" name="BinY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BinZ" type="elementType"/>
			<xs:element minOccurs="0" name="BinZ_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MinX" type="elementType"/>
			<xs:element minOccurs="0" name="MinX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MinY" type="elementType"/>
			<xs:element minOccurs="0" name="MinY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MinZ" type="elementType"/>
			<xs:element minOccurs="0" name="MinZ_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX" type="elementType"/>
			<xs:element minOccurs="0" name="SizeX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY" type="elementType"/>
			<xs:element minOccurs="0" name="SizeY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SizeZ" type="elementType"/>
			<xs:element minOccurs="0" name="SizeZ_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MaxSizeX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MaxSizeY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MaxSizeZ_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseX" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseY" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseZ" type="elementType"/>
			<xs:element minOccurs="0" name="ReverseZ_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySizeX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySizeY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ArraySizeZ_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="EnableScale" type="elementType"/>
			<xs:element minOccurs="0" name="EnableScale_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Scale" type="elementType"/>
			<xs:element minOccurs="0" name="Scale_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="DataTypeOut" type="elementType"/>
			<xs:element minOccurs="0" name="DataTypeOut_RBV" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="NDStatsType">
		<xs:all>
			<xs:element minOccurs="0" name="ComputeStatistics" type="elementType"/>
			<xs:element minOccurs="0" name="ComputeStatistics_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="BgdWidth" type="elementType"/>
			<xs:element minOccurs="0" name="BgdWidth_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MinValue_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MaxValue_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MeanValue_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Sigma_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Total_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Net_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ComputeCentroid" type="elementType"/>
			<xs:element minOccurs="0" name="ComputeCentroid_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CentroidThreshold" type="elementType"/>
			<xs:element minOccurs="0" name="CentroidThreshold_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CentroidX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CentroidY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SigmaX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SigmaY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="SigmaXY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ComputeProfiles" type="elementType"/>
			<xs:element minOccurs="0" name="ComputeProfiles_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileSizeX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileSizeY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CursorX" type="elementType"/>
			<xs:element minOccurs="0" name="CursorX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="CursorY" type="elementType"/>
			<xs:element minOccurs="0" name="CursorY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileAverageX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileAverageY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileThresholdX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileThresholdY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileCentroidX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileCentroidY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileCursorX_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ProfileCursorY_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="ComputeHistogram" type="elementType"/>
			<xs:element minOccurs="0" name="ComputeHistogram_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HistSize" type="elementType"/>
			<xs:element minOccurs="0" name="HistSize_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HistMin" type="elementType"/>
			<xs:element minOccurs="0" name="HistMin_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HistMax" type="elementType"/>
			<xs:element minOccurs="0" name="HistMax_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="HistEntropy_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="Histogram_RBV" type="elementType"/>
			<xs:element minOccurs="0" name="MaxSizeX" type="elementType"/>
			<xs:element minOccurs="0" name="SetXHOPR" type="elementType"/>
			<xs:element minOccurs="0" name="MaxSizeY" type="elementType"/>
			<xs:element minOccurs="0" name="SetYHOPR" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="NDStdArraysType">
		<xs:all>
			<xs:element minOccurs="0" name="ArrayData" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="pneumaticCallbackType">
		<xs:all>
			<xs:element minOccurs="0" name="CONTROL" type="elementType"/>
			<xs:element minOccurs="0" name="STA" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="positionerType">
		<xs:all>
			<xs:element minOccurs="0" name="SELECT" type="elementType"/>
			<xs:element minOccurs="0" name="DMOV" type="elementType"/>
			<xs:element minOccurs="0" name="ERROR" type="elementType"/>
			<xs:element minOccurs="0" name="INPOS" type="elementType"/>
			<xs:element minOccurs="0" name="STOP" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simpleBinaryType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simpleMotorType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simplePvType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD" type="elementType"/>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<!-- This is the root element of the schema, if you add a new deviceType, -->
	<!-- be sure to add a device of type deviceType to the sequence -->
	<xs:element name="devices">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:choice maxOccurs="unbounded" minOccurs="0">
					<xs:element name="ADBase" type="ADBaseType"/>
					<xs:element name="bpm" type="bpmType"/>
					<xs:element name="currAmpSingle" type="currAmpSingleType"/>
					<xs:element name="ffmpegStream" type="ffmpegStreamType"/>
					<xs:element name="firewireDCAM" type="firewireDCAMType"/>
					<xs:element name="isegHVPSU" type="isegHVPSUType"/>
					<xs:element name="NDFile" type="NDFileType"/>
					<xs:element name="NDFileMagick" type="NDFileMagickType"/>
					<xs:element name="NDOverlay" type="NDOverlayType"/>
					<xs:element name="NDPluginBase" type="NDPluginBaseType"/>
					<xs:element name="NDProcess" type="NDProcessType"/>
					<xs:element name="NDROI" type="NDROIType"/>
					<xs:element name="NDStats" type="NDStatsType"/>
					<xs:element name="NDStdArrays" type="NDStdArraysType"/>
					<xs:element name="pneumaticCallback" type="pneumaticCallbackType"/>
					<xs:element name="positioner" type="positionerType"/>
					<xs:element name="simpleBinary" type="simpleBinaryType"/>
					<xs:element name="simpleMotor" type="simpleMotorType"/>
					<xs:element name="simplePv" type="simplePvType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
