configurations/b16-config/xml/epics_1.15/BL16B-gda-testschema.xsd

<?xml version="1.0" ?>
<!-- Generic Schema for checking all beamline gda interface files -->
<!-- In this context, a deviceType represents an EPICS template -->
<!-- and a device represents an instantiation of a template -->
<!-- To add a new deviceType, follow the instructions in comments -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- This is the group of attributes common to all devices -->
	<xs:attributeGroup name="deviceAttributes">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="desc" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<!-- This is the group of attributes common to all records -->
	<xs:attributeGroup name="recordAttributes">
		<!-- attribute type must be defined in deviceType -->
		<!-- type value must be one of: "motor","scaler","mbbinary","binary","pv","mca","array" -->
		<xs:attribute name="desc" type="xs:string" use="required"/>
		<xs:attribute name="pv" type="xs:string" use="required"/>
		<xs:attribute name="ro" type="xs:boolean" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="bpmType">
		<xs:all>
			<xs:element minOccurs="0" name="XPOS">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="YPOS">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="INTENSITY">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="cameraType">
		<xs:all>
			<xs:element minOccurs="0" name="HEIGHT">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="WIDTH">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="DATA">
				<xs:complexType>
					<xs:attribute fixed="array" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="CAPTURE">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="currAmpSingleType">
		<xs:all>
			<xs:element minOccurs="0" name="OVERLOAD">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SETGAIN">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SETACDC">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="VENDOR">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="MODEL">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="dlsMcaCanberraType">
		<xs:all>
			<xs:element minOccurs="0" name="ERASE">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ERASESTART">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="START">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="STOP">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="READRATE">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="STATRATE">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="MCA">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ADCGAIN">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ADCOFFSET">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ADCLLD">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ADCULD">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="mcaGroupType">
		<xs:all>
			<xs:element minOccurs="0" name="ERASESTART">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ERASE">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="START">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="STOP">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="NBINS">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="STATRATE">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="READRATE">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="TREAL">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ACQ">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="TACQ">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="TDWELL">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="BINADV">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="EXTPRE">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG1">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG2">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG3">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG4">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG5">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG6">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG7">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG8">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG9">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG10">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG11">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG12">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG13">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG14">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG15">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG16">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG17">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG18">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG19">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG20">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG21">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG22">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG23">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG24">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG25">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG26">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG27">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG28">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG29">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG30">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG31">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SIG32">
				<xs:complexType>
					<xs:attribute fixed="mca" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="pneumaticType">
		<xs:all>
			<xs:element minOccurs="0" name="CONTROL">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="STA">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="positionerType">
		<xs:all>
			<xs:element minOccurs="0" name="SELECT">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="DMOV">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ERROR">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="INPOS">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="STOP">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simpleArrayType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD">
				<xs:complexType>
					<xs:attribute fixed="array" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simpleBinaryType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD">
				<xs:complexType>
					<xs:attribute fixed="binary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simpleMbbinaryType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD">
				<xs:complexType>
					<xs:attribute fixed="mbbinary" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simpleMotorType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD">
				<xs:complexType>
					<xs:attribute fixed="motor" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simplePvType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD">
				<xs:complexType>
					<xs:attribute fixed="pv" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<xs:complexType name="simpleScalerType">
		<xs:all>
			<xs:element minOccurs="0" name="RECORD">
				<xs:complexType>
					<xs:attribute fixed="scaler" name="type" type="xs:string" use="required"/>
					<xs:attributeGroup ref="recordAttributes"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="deviceAttributes"/>
	</xs:complexType>
	<!-- This is the root element of the schema, if you add a new deviceType, -->
	<!-- be sure to add a device of type deviceType to the sequence -->
	<xs:element name="devices">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:choice maxOccurs="unbounded" minOccurs="0">
					<xs:element name="bpm" type="bpmType"/>
					<xs:element name="camera" type="cameraType"/>
					<xs:element name="currAmpSingle" type="currAmpSingleType"/>
					<xs:element name="dlsMcaCanberra" type="dlsMcaCanberraType"/>
					<xs:element name="mcaGroup" type="mcaGroupType"/>
					<xs:element name="pneumatic" type="pneumaticType"/>
					<xs:element name="positioner" type="positionerType"/>
					<xs:element name="simpleArray" type="simpleArrayType"/>
					<xs:element name="simpleBinary" type="simpleBinaryType"/>
					<xs:element name="simpleMbbinary" type="simpleMbbinaryType"/>
					<xs:element name="simpleMotor" type="simpleMotorType"/>
					<xs:element name="simplePv" type="simplePvType"/>
					<xs:element name="simpleScaler" type="simpleScalerType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
